.body {
    font-family: sans-serif;
}

.wrapper {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 1059px;
    margin: 0 auto;
}

.header-pannel {
    padding-top: 49px;
}

.header-logo {
    float: left;
    width: 181px;
}

.logo-arch_symbol {
    float:left;
    width: 46px;
    height: 44px;
}

.header-logo-text_big {
    float: left;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 29px;
    padding-left: 15px;
}

.header-logo-text_small {
    float: left;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    padding-left: 15px;
}

.header-logo:hover .logo-arch_symbol{
    content: url('../img/logo-hover.png')
}

.header-logo:hover .header-logo-text_big {
    color: #f26522;
}

.header-logo:hover .header-logo-text_small {
    color: #f26522;
}

.header-contacts {
    float: right;
    width: 243px;
    margin-right: 0px;
    text-align: right;
}

.header-contacts-email, .header-contacts-phone  {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.main {
    margin-top: 48px;
}

.main-text {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


.tour-item {
    position: relative;
    float: left;
    width: 307px;
    margin-right: 68px;
    margin-bottom: 22px;
    text-decoration: none;
}

.tour-item:hover .tour-item-details{
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
}

.tour-item:nth-child(3n) {
    margin-right: 0px;
}

.tour-item-details {
    position: absolute;
    opacity: 0;
    bottom: 20px;
    display: block;
    width: 100%;
    height: 65px;
    background-color: #f26522;
    transition: 0.3s opacity ease-in-out;
}

.price {
    position: relative;
    float: left;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 31px;
    margin-left: 31px;
}

.price:before {
    position: absolute;
    content: 'from';
    top: -15px;
    left: -15px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
}

.price:after {
    position: absolute;
    content: '€';
    left: -15px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.details-link {
    float: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 35px;
    margin-top: 35px;
    margin-right: 20px;
}

.details-link::after {
    content: '>';
}

 .footer-copyright {
    height: 12px;
    margin-top: 60px;
    padding-bottom: 20px;
}

.copyright-text {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}